:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-: hsl(0, 0%, 0%);
}

.Shopping--cart {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: center;
}

.Shopping--cart h2 {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.Shopping--cart__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 0;
}

.Shopping--cart__details {
  text-align: left;
  flex-grow: 1;
  margin-left: 10px;
}

.Image--product {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.Remove--item {
  border: none;
  background-color: none;
  cursor: pointer;
}

.Remove--item img {
  width: 20px;
  height: 20px;
}

.Checkout--button {
  width: 100%;
  padding: 10px;
  background-color: var(--Orange);
  color: var(--Very-dark-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.Checkout--button:hover {
  background-color: var(--Pale-orange);
}

p {
  text-align: center;
}

h2 {
  text-align: start;
}

h3 {
  margin: 0;
  font-size: 16px;
}

strong {
  font-weight: bold;
}
