@import url(https://fonts.google.com/specimen/Kumbh+Sans);

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(0, 0%, 91%);
  --White: hsl(0, 0%, 100%);
  --Black-: hsl(0, 0%, 0%);
}

.Main--content {
  margin-top: 60px;
  display: grid;
  align-items: center;
  column-gap: 50px;
  align-items: center;
  grid-template-columns: 1fr, 1fr;
  grid-auto-columns: 50%;
  grid-template-areas: "Carrusel--container Add--Cart";
}

.Add--Cart {
  grid-area: Add--Cart;
}

/* Carrusel */
.Carrusel--container {
  grid-area: Carrusel--container;
}

.carousel-container {
  width: 50%;
  margin: 0 auto;
}

.slick-slide img {
  width: 50%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.Selected--image {
  max-height: 400px;
  margin-bottom: 20px;
  text-align: center;
}

.Selected--image img {
  width: 50%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.ImgBig {
  width: 300px;
  max-height: 300px;
  border-radius: 8px;
}
/* Carrusel */

/* AddToCart */
.Add--Cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas:
    "Add--Cart__info"
    "Add--Cart__cost"
    "Add--Cart__items";
}

.Add--Cart__info h1 {
  padding: 10px 0 25px 0;
  grid-area: Add--Cart__info;
}

.Add--Cart__cost {
  grid-area: Add--Cart__cost;
}

.Add--Cart__items {
  grid-area: Add--Cart__items;
}

.Add--Cart__info p {
  color: var(--Dark-grayish-blue);
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.Add--Cart__info h4 {
  color: var(--Dark-grayish-blue);
}

.Add--Cart__items {
  display: flex;
  height: 40px;
}

.Add--Counter {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 20px;
}

.Add--Counter button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  border: 0;
  background-color: var(--Light-grayish-blue);
}

.Add--Counter .Minus {
  border-radius: 4px 0 0 4px;
}

.Add--Counter .Plus {
  border-radius: 0 4px 4px 0;
}

/* Counter */

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  background-color: var(--Light-grayish-blue);
}

.ImgMinus {
  width: 10px;
  height: 3px;
}

.ImgPlus {
  width: 10px;
  height: 10px;
}

.Minus:hover {
  background-color: var(--Pale-orange);
}

.Plus:hover {
  background-color: var(--Pale-orange);
}

/* Counter */

/* Checkout */

.Add--Cart__cost {
  display: flex;
}

.cost {
  font-size: 16px;
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 20px;
  color: aliceblue;
  border-radius: 4px;
  width: 40px;
  margin-left: 10px;
  font-size: 13px;
}

.cost--line {
  color: var(--Dark-grayish-blue);
  text-decoration-line: line-through;
}

.Add--Cart__buttonAdd:hover {
  background-color: var(--Pale-orange);
}

.Add--Cart__buttonAdd {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 40px;
  padding: 10px;
  background-color: var(--Orange);
  color: var(--Very-dark-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Add--ImgCart {
  padding-right: 10px;
}

.Add--Cart__info {
  margin-right: 100px;
}
/* Checkout */

/* AddToCart */
